@model FamLab00004.Models.Transaction_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transaction_Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaction_Type1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Transaction_Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
