@model FamLab00004.Models.Card_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Card_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card_Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Type1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Card_Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
